<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>
    This is a timed message from <%= @meeting.nickname %>. Contact <%= @meeting.nickname %> and make sure they are okay!

    <% if (@meeting.latitude && @meeting.longitude) %>
        <%= @meeting.nickname %>'s last updated location: http://maps.google.com/maps?z=12&t=m&q=loc:<%= @meeting.latitude %>+<%= @meeting.longitude %>
    <% else %>
        Location unavailable.
    <% end %>
  </p>
</body>
</html>
