<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>
    <%= t('notification_message_from') %> <b><%= @meeting.nickname %></b>! <%= t('notification_message_text') %>

    <% if (@meeting.latitude && @meeting.longitude) %>
        <%= t('message_location') %> http://maps.google.com/maps?z=12&t=m&q=loc:<%= @meeting.latitude %>+<%= @meeting.longitude %>
    <% else %>
        <%= t('message_location_unavailable') %>
    <% end %>
  </p>
</body>
</html>
