
<%= form_for(@meeting) do |f| %>
    <div class="field-section">
      <div class="field-explanation">
        <h2><%= t('nickname_info_title') %></h2>
        <!-- <p><%= t('nickname_info_text') %></p> -->
      </div>
      <div class="field">
        <%= f.text_field :nickname, :class => "textfield", placeholder: "#{t('nickname_placeholder')}" , value: cookies['nkn'] %>
      </div>
    </div>

    <div class="field-section">
      <div class="field-explanation">
        <h2><%= t('phonenumber_info_title') %></h2>
        <!-- <p><%= t('phonenumber_info_text') %></p> -->
      </div>
      <div class="field">
        <%= f.text_field :phone_number, :class => "textfield", placeholder: "#{t('phonenumber_placeholder')}", value: cookies['pnmr'] %>
        <% if @meeting.errors.messages[:phone_number].any? %>
            <div class="error-explanation">
              <p class="error-message"><%= t('phone_number_invalid') %></p>
            </div>
        <% end %>
      </div>
    </div>

    <div class="field-section">
      <div class="field-explanation">
        <h2><%= t('duration_info_title') %></h2>
        <!-- <p><%= t('duration_info_text') %></p> -->
      </div>
      <div class="field">
        <div id="duration-value">
        </div>
        <div class="duration-container">
          <a id="select30m" class="duration-select" onclick="selectTimeValueByElementId('select30m')" data-turbolinks="false">30</a>
        </div>
        <div class="duration-container">
          <a id="select1h" class="duration-select" onclick="selectTimeValueByElementId('select1h')" data-turbolinks="false">60</a>
        </div>
        <!--
        <div class="duration-container">
          <a id="select2h" class="duration-select" onclick="selectTimeValueByElementId('select2h')" data-turbolinks="false">2h</a>
        </div>
      -->
        <div class="duration-container">
          <input class="duration-input" onkeyup="durationInputKeyup(this)" type="number" id="duration-input" min="0" max="1440" placeholder="<%= t('choose_time') %>">
        </div>
      </div>
    </div>

    <div class="field-section">
      <div class="field-explanation">
        <h2><%= t('start_meeting_title') %></h2>
        <!-- <p><%= t('start_meeting_text') %> <span id="duration-info"></span> <%= t('minutes_plural') %></p> -->
      </div>
        <div class="actions">
          <%= f.submit "#{t('start_meeting_button')}", :class => "submitbutton", :id => "startbutton" %>
        </div>

    </div>

<% end %>
