<%= form_for(@meeting) do |f| %>

  <div class="field">
    <%= f.text_field :nickname, :class => "textfield", placeholder: "Nickname" %>

  </div>
  <div class="field">
    <%= f.text_field :phone_number, :class => "textfield", placeholder: "Phone Number"%>
    <% if @meeting.errors.messages[:phone_number].any? %>
        <div class="error-explanation">
          <p class="error-message">Phone number is invalid</p>
        </div>
    <% end %>
  </div>
  <div class="field">

    <div class="duration-container">
      <a href="" class="duration-select">30m</a>
    </div>
    <div class="duration-container">
      <a href="" class="duration-select">1h</a>
    </div>
    <div class="duration-container">
      <a href="" class="duration-select selected">2h</a>
    </div>

    <%= f.number_field :duration, :class => "numfield"%>
    <% if @meeting.errors.messages[:duration].any? %>
        <br><div class="error-explanation">
    <p class="error-message">Duration is invalid. <br><br> Valid range is 0 to 1440</p>
  </div>
    <% end %>


  </div>

  <div class="actions">
    <%= f.submit 'Start timer', :class => "submitbutton"%>
  </div>
<% end %>
