<div class="title-container">
<div class="notification-header"><%= t('alert_confirmation_title') %></div>
</div>
<div class="actions">
  <div class="field-section color-2">
    <div class="field-explanation">
      <!-- <h2><%= t('alert_confirmation_info_title') %></h2> -->
      <!--<p><%= t('alert_confirmation_info_text') %></p>-->
    </div>
    <!--<%= button_to "#{ t('alert_confirmation_return_button')}", :root, :method => "get", class: 'submitbutton' %>-->
    <%= button_to "#{t('alert_confirmation_return_button')}", {action: "meeting_ok", controller: "meetings"}, class: 'submitbutton' %>
  </div>
</div>



<div id="location" class="field-explanation">
  <% if not @meeting.longitude.nil? %>
      <a href="http://maps.google.com/maps?z=12&t=m&q=loc:<%= @meeting.latitude %>+<%= @meeting.longitude %>" target="_blank">Last
        updated location</a>
  <% end %>
</div>

