<div class="creation-header">
  <div class="title-container">
    <h1><%= t('title') %></h1>
  </div>


  <% if @showChangeLink %>
      <a class="language-select" id="language-selector" href="#" onclick="switchToEnglish()"><%= @changeLinkText %></a>
  <% end %>
</div>


<%= render 'form' %>

<h1 class="info-header">i</h1>

<p class="info-content">
  <a class="info-links" href="https://docs.google.com/forms/d/e/1FAIpQLSfWYLkPxbhBcnFHHyZCqFapZVxLD7S7gDJVIC4uBYxmYz-BFg/viewform?usp=sf_link" target="_blank"><%= t('feedback_link') %></a>
  <a class="info-links" href="https://info.artemisumbrella.com" target="_blank"><%= t('info_link') %></a>
</p>
