
<% content_for :for_head do %>
  <meta http-equiv="refresh" content="30">
<% end %>


<script type="text/javascript">
    var meeting_id = <%= @meeting.id %>;
    var meeting_created = "<%= @meeting.created_at %>"
    var meeting_updated = "<%= @meeting.updated_at %>";
</script>
<%= javascript_include_tag "locator" %>
<div id="javascript-protocol"><%= ENV["JAVASCRIPT_PROTOCOL"] %></div>


<% if @meeting.time_to_live == 0 %>
    <div class="title-container">
    <div class="notification-header">
      <%= t('notification_sent_text') %>
    </div>
    </div>
<% else %>
    <div class="title-container">
    <h1><%= t('status_page_title') %></h1>
    </div>
    <div class="info-timer">
      <% if @meeting.time_to_live == 1 %>
          <%= @meeting.time_to_live %> <%= t('minutes_singular') %>
      <% elsif @meeting.time_to_live.between?(0,1) %>
         <%= t('less_than_minute') %>
      <% else %>
          <%= @meeting.time_to_live %> <%= t('minutes_plural') %>
      <% end %>
    </div>

    <div class="field-section color-2">
      <div class="field-explanation">
        <!-- <h2><%= t('change_time_tittle') %></h2> -->
      </div>
      <%= button_to "#{ t('change_time_button')} ", {action: "add_time", controller: "meetings"}, class:'changetimebutton'%>
    </div>
<% end %>


<div class="actions">

  <div class="field-section color-2">
    <div class="field-explanation">
      <!-- <h2><%= t('ok_confirmation_title') %></h2> -->
      <!-- <p><%= t('ok_confirmation_text') %></p> -->
    </div>
    <%= button_to "#{t('ok_confirmation_button')}", {action: "meeting_ok", controller: "meetings"}, class: 'submitbutton' %>
  </div>

  <div class="field-section color-3">
    <div class="field-explanation">
      <!-- <h2><%= t('send_alert_title') %></h2> -->
      <!-- <p><%= t('send_alert_text') %></p> -->
    </div>
    <%= button_to "#{ t('send_alert_button')} ", {action: "send_alert", controller: "meetings"}, class: 'alertbutton' %>
  </div>
</div>



<div id="location" style="display:none">
  <% if not @meeting.longitude.nil? %>
      <a href="http://maps.google.com/maps?z=12&t=m&q=loc:<%= @meeting.latitude %>+<%= @meeting.longitude %>" target="_blank">Last
        updated location</a>
  <% end %>
</div>

<div id="formdiv">
  <form id="locationform" method="post" action="/meetings/<%= @meeting.id %>">
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <input id="latitude" type="hidden">
    <input id="longitude" type="hidden">
  </form>
</div>
