<h1><%= t('administration_page_title') %></h1>

<% if flash[:notify] %>
    <div class="notify" id="notify"><%= flash[:notify] %></div>
<% end %>
<script>
    <!-- Fades the notification out after 5 seconds -->
    $(".notify").fadeOut(5000);
</script>

<div data-turbolinks="true" class="field-section">
  <h2><%= t('usage_statistics_by_country') %></h2>
  <table class="admin-table">
    <thead>
    <tr>
      <th><%= sort_link("stat", "country", t('country')) %></th>
      <th><%= sort_link("stat", "created", t('created')) %></th>
      <th><%= sort_link("stat", "confirmed", t('confirmed')) %></th>
      <th><%= sort_link("stat", "alerts_sent", t('alerts_sent')) %></th>
      <th><%= sort_link("stat", "notifications_sent", t('notifications_sent')) %></th>
    </tr>
    </thead>

    <tbody>
    <% @statistics.each do |stat| %>
        <tr>
          <td><%= stat.country %> (+<%= stat.country_code %>)</td>
          <td><%= stat.created %></td>
          <td><%= stat.confirmed %></td>
          <td><%= stat.alerts_sent %></td>
          <td><%= stat.notifications_sent %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<div data-turbolinks="true" class="field-section">
  <h2><%= t('current_meetings') %></h2>
  <table class="admin-table">
      <thead>
        <th><%= sort_link("meeting", "created_at", t('created_at')) %></th>
        <th><%= sort_link("meeting", "time_to_live", t('duration_remaining')) %></th>
        <th><%= sort_link("meeting", "alert_sent", t('alert_sent')) %></th>
        <th><%= t('delete') %></th>
      </thead>
      <tbody>
        <% @meetings.each do |meeting| %>
          <tr>
              <td><%= meeting.created_at.to_formatted_s(:long_ordinal)  %></td>
              <td><%= meeting.time_to_live %> min</td>
              <td><%= meeting.alert_sent %></td>
              <td><%= link_to t('delete'), 'admin/delete/'+meeting.id.to_s, method: :delete, :class => 'delete-button', data: { confirm: t('delete_confirm')}%>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>


<div data-turbolinks="true" class="field-section">
  <h2><%= t('users') %></h2>
  <table class="admin-table">
    <thead>
    <th><%= sort_link("user", "code", t('code')) %></th>
    <th><%= t('phone_number') %></th>
    <th><%= sort_link("user", "credits", t('credits')) %></th>
    <th><%= t('update') %></th>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <%= form_for(user) do |f| %>
              <%= f.hidden_field :code, :value => user.code %>
              <td><%= user.code %></td>
              <td>+<%= number_to_phone(user.phone_number) %></td>
              <td><%= f.number_field :credits %></td>
              <td><%= f.submit t('update'), :class => "edit-button", :id => "update" %></td>
          <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>