<h1><%= t('administration_page_title') %></h1>

<% if flash[:notify] %>
    <div class="notify" id="notify"><%= flash[:notify] %></div>
<% end %>
<div class="field-section">
  <h2><%= t('search_custom_time_stats') %></h2>
  <%= form_tag(custom_stat_path, method: "get") do %>
      <%= label_tag(:start, t('interval start')) %>
      <%= datetime_local_field_tag(:start) %>
      <%= label_tag(:end, t('interval end')) %>
      <%= datetime_local_field_tag(:end) %>
      <%= submit_tag(t('search')) %>
  <% end %>
</div>
<div class="field-section">
  <h2><%= t('yearly_usage_statistics') %></h2>
  <table class="admin-table">
    <thead>
    <tr>
      <th><%= sort_link("impression", "country", t('country')) %></th>
      <th><%= sort_link("impression", "date", t('year')) %></th>
      <th><%= sort_link("impression", "views", t('views')) %></th>
      <th><%= sort_link("impression", "created", t('created')) %></th>
      <th><%= sort_link("impression", "timers_stopped", t('timers_stopped')) %></th>
      <th><%= sort_link("impression", "alerts_sent", t('alerts_sent')) %></th>
      <th><%= sort_link("impression", "notifications_sent", t('notifications_sent')) %></th>
      <th><%= sort_link("impression", "messages_resent", t('messages_resent')) %> </th>
      <th><%= sort_link("impression", "resent_messages_delivered", t('resent_messages_delivered')) %> </th>
      <th><%= sort_link("impression", "location_percentage", t('location_percentage')) %></th>
      <% @impression_statuses.each do |status| %>
          <th><%= sort_link("impression", status, t(status))%></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @year_stats.each do |stat| %>
        <tr>
          <td><%= stat["country"] %></td>
          <td><%= stat["date"] %></td>
          <td><%= stat["views"] %></td>
          <td><%= stat["created"] %></td>
          <td><%= stat["timers_stopped"] %></td>
          <td><%= stat["alerts_sent"] %></td>
          <td><%= stat["notifications_sent"] %></td>
          <td><%= stat["messages_resent"] %></td>
          <td><%= stat["resent_messages_delivered"] %></td>
          <td><%= stat["location_percentage"] %>%</td>
          <% @impression_statuses.each do |status_code| %>
              <th><%= stat[status_code] %>%</th>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="field-section">
  <h2><%= t('monthly_usage_statistics') %></h2>
  <table class="admin-table">
    <thead>
    <tr>
      <th><%= sort_link("impression", "country", t('country')) %></th>
      <th><%= sort_link("impression", "date", t('month')) %></th>
      <th><%= sort_link("impression", "views", t('views')) %></th>
      <th><%= sort_link("impression", "created", t('created')) %></th>
      <th><%= sort_link("impression", "timers_stopped", t('timers_stopped')) %></th>
      <th><%= sort_link("impression", "alerts_sent", t('alerts_sent')) %></th>
      <th><%= sort_link("impression", "notifications_sent", t('notifications_sent')) %></th>
      <th><%= sort_link("impression", "messages_resent", t('messages_resent')) %> </th>
      <th><%= sort_link("impression", "resent_messages_delivered", t('resent_messages_delivered')) %> </th>
      <th><%= sort_link("impression", "location_percentage", t('location_percentage')) %></th>
      <% @impression_statuses.each do |status| %>
        <th><%= sort_link("impression", status, t(status))%></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @month_stats.each do |stat| %>
        <tr>
          <td><%= stat["country"] %></td>
          <td><%= link_to stat["date"], month_stat_path(stat["date"]) %></td>
          <td><%= stat["views"] %></td>
          <td><%= stat["created"] %></td>
          <td><%= stat["timers_stopped"] %></td>
          <td><%= stat["alerts_sent"] %></td>
          <td><%= stat["notifications_sent"] %></td>
          <td><%= stat["messages_resent"] %></td>
          <td><%= stat["resent_messages_delivered"] %></td>
          <td><%= stat["location_percentage"] %>%</td>
          <% @impression_statuses.each do |status_code| %>
              <th><%= stat[status_code] %>%</th>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="stat-explanation">
  <h2><%= t('explanations_e')%></h2>
  <p><b><%= t('country')%>:</b> <%= t('country_e')%> <%= t('no_meetings_created_e')%></p>
  <p><b><%= t('views')%>:</b> <%= t('views_e')%></p>
  <p><b><%= t('created')%>:</b> <%= t('created_e')%></p>
  <p><b><%= t('timers_stopped')%>:</b> <%= t('timers_stopped_e')%></p>
  <p><b><%= t('alerts_sent')%>:</b> <%= t('alerts_sent_e')%></p>
  <p><b><%= t('notifications_sent')%>:</b> <%= t('notifications_sent_e')%></p>
  <p><b><%= t('messages_resent')%>:</b> <%= t('messages_resent_e')%></p>
  <p><b><%= t('resent_messages_delivered')%>:</b> <%= t('resent_messages_delivered_e')%></p>
  <p><b><%= t('location_percentage')%>:</b> <%= t('location_percentage_e')%></p>

  <br>
  <p><b><%= t('text_magic_status_e')%></b></p>
  <p><b><%= t('q')%>:</b> <%= t('q_e')%></p>
  <p><b><%= t('r')%>:</b> <%= t('r_e')%></p>
  <p><b><%= t('a')%>:</b> <%= t('a_e')%></p>
  <p><b><%= t('b')%>:</b> <%= t('b_e')%></p>
  <p><b><%= t('d')%>:</b> <%= t('d_e')%></p>
  <p><b><%= t('f')%>:</b> <%= t('f_e')%></p>
  <p><b><%= t('e')%>:</b> <%= t('e_e')%></p>
  <p><b><%= t('j')%>:</b> <%= t('j_e')%></p>
  <p><b><%= t('u')%>:</b> <%= t('u_e')%></p>
  <p><b><%= t('s')%>:</b> <%= t('s_e')%></p>
</div>


<div class="field-section">
  <h2><%= t('usage_statistics_by_country') %></h2>
  <table class="admin-table">
    <thead>
    <tr>
      <th><%= sort_link("stat", "country", t('country')) %></th>
      <th><%= sort_link("stat", "created", t('created')) %></th>
      <th><%= sort_link("stat", "confirmed", t('confirmed')) %></th>
      <th><%= sort_link("stat", "alerts_sent", t('alerts_sent')) %></th>
      <th><%= sort_link("stat", "notifications_sent", t('notifications_sent')) %></th>
    </tr>
    </thead>

    <tbody>
    <% @statistics.each do |stat| %>
        <tr>
          <td><%= stat.country %> (+<%= stat.country_code %>)</td>
          <td><%= stat.created %></td>
          <td><%= stat.confirmed %></td>
          <td><%= stat.alerts_sent %></td>
          <td><%= stat.notifications_sent %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<!--
<div class="field-section">
  <h2><%= t('current_meetings') %></h2>
  <table class="admin-table">
      <thead>
        <th><%= sort_link("meeting", "created_at", t('created_at')) %></th>
        <th><%= sort_link("meeting", "time_to_live", t('duration_remaining')) %></th>
        <th><%= sort_link("meeting", "alert_sent", t('alert_sent')) %></th>
        <th><%= t('delete') %></th>
      </thead>
      <tbody>
        <% @meetings.each do |meeting| %>
          <tr>
              <td><%= meeting.created_at.to_formatted_s(:long_ordinal)  %></td>
              <td><%= meeting.time_to_live %> min</td>
              <td><%= meeting.alert_sent %></td>
              <td><%= button_to t('delete'), 'admin/delete/'+meeting.id.to_s, :method => :delete, :class => 'delete-button', data: { confirm: t('delete_confirm')}%>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>


<div class="field-section">
  <h2><%= t('users') %></h2>
  <table class="admin-table">
    <thead>
    <th><%= sort_link("user", "code", t('code')) %></th>
    <th><%= t('phone_number') %></th>
    <th><%= sort_link("user", "credits", t('credits')) %></th>
    <th><%= t('update_credits') %></th>
    <th><%= t('update') %></th>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <%= form_for(user) do |f| %>
              <%= f.hidden_field :code, :value => user.code %>
              <td><%= user.code %></td>
              <td>+<%= number_to_phone(user.phone_number) %></td>
              <td><%= user.credits %></td>
              <td><%= f.number_field :credits %></td>
              <td><%= f.submit t('update'), :class => "edit-button", :id => "update" %></td>
          <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
-->