<h1>Artemis' Umbrella administration page</h1>

<% if flash[:notify] %>
    <div class="notify" id="notify"><%= flash[:notify] %></div>
<% end %>
<script>
    <!-- Fades the notification out after 5 seconds -->
    $(".notify").fadeOut(5000);
</script>

<div data-turbolinks="true" class="field-section">
  <h2>Usage statistics by country</h2>
  <table class="admin-table">
    <thead>
    <tr>
      <th><%= sort_link("stat", "country") %></th>
      <th><%= sort_link("stat", "created") %></th>
      <th><%= sort_link("stat", "confirmed") %></th>
      <th><%= sort_link("stat", "alerts_sent") %></th>
      <th><%= sort_link("stat", "notifications_sent") %></th>
    </tr>
    </thead>

    <tbody>
    <% @statistics.each do |stat| %>
        <tr>
          <td><%= stat.country %> (+<%= stat.country_code %>)</td>
          <td><%= stat.created %></td>
          <td><%= stat.confirmed %></td>
          <td><%= stat.alerts_sent %></td>
          <td><%= stat.notifications_sent %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<div data-turbolinks="true" class="field-section">
  <h2>Current meetings</h2>
  <table class="admin-table">
      <thead>
        <th><%= sort_link("meeting", "created_at", "Created at (UTC)") %></th>
        <th><%= sort_link("meeting", "time_to_live", "Duration remaining") %></th>
        <th><%= sort_link("meeting", "alert_sent", "Alert Sent") %></th>
        <th>Delete</th>
      </thead>
      <tbody>
        <% @meetings.each do |meeting| %>
          <tr>
              <td><%= meeting.created_at.to_formatted_s(:long_ordinal)  %></td>
              <td><%= meeting.time_to_live %> min</td>
              <td><%= meeting.alert_sent %></td>
              <td><%= link_to 'Delete', 'admin/delete/'+meeting.id.to_s, method: :delete, :class => 'delete-button', data: { confirm: "Are you sure you want to delete the meeting?"}%>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>


<div data-turbolinks="true" class="field-section">
  <h2>Users</h2>
  <table class="admin-table">
    <thead>
    <th><%= sort_link("user", "code", "Code") %></th>
    <th><%= sort_link("user", "credits", "Credits") %></th>
    <th>Edit</th>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <%= form_for(user) do |f| %>
              <%= f.hidden_field :code, :value => user.code %>
              <td><%= user.code %></td>
              <td>+<%= number_to_phone(user.phone_number) %></td>
              <td><%= f.number_field :credits %></td>
              <td><%= f.submit "Update", :class => "edit-button", :id => "update" %></td>
          <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>