<h1>Artemis' Umbrella administration page</h1>

<% if flash[:notify] %>
  <div class="notify" id="notify"><%= flash[:notify] %></div>
<% end %>
<script>
  <!-- Fades the notification out after 5 seconds -->
  $(".notify" ).fadeOut(5000);
</script>

<div data-turbolinks="true" class="field-section">
  <h2>Usage statistics by country</h2>
  <table class="admin-table">
    <thead>
    <tr>
      <th><%= stat_sort_link "country" %></th>
      <th><%= stat_sort_link "created" %></th>
      <th><%= stat_sort_link "confirmed" %></th>
      <th><%= stat_sort_link "alerts_sent" %></th>
      <th><%= stat_sort_link "notifications_sent" %></th>
    </tr>
    </thead>

    <tbody>
    <% @statistics.each do |stat| %>
        <tr>
          <td><%= stat.country %> (+<%= stat.country_code %>)</td>
          <td><%= stat.created %></td>
          <td><%= stat.confirmed %></td>
          <td><%= stat.alerts_sent %></td>
          <td><%= stat.notifications_sent %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<div data-turbolinks="true" class="field-section">
  <h2>Current meetings</h2>
  <table class="admin-table">
      <thead>
        <th>Nickname</th>
        <th>Safety Contact</th>
        <th><%= meeting_sort_link "created_at", "Created at (UTC)" %></th>
        <th><%= meeting_sort_link "time_to_live", "Duration remaining" %></th>
        <th><%= meeting_sort_link "alert_sent", "Alert Sent" %></th>
        <th>Delete</th>
      </thead>
      <tbody>
        <% @meetings.each do |meeting| %>
          <tr>
              <td><%= meeting.nickname %></td>
              <td>+<%= number_to_phone(meeting.phone_number) %></td>
              <td><%= meeting.created_at.to_formatted_s(:long_ordinal)  %></td>
              <td><%= meeting.time_to_live %> min</td>
              <td><%= meeting.alert_sent %></td>
              <td><%= link_to 'Delete', 'admin/delete/'+meeting.id.to_s, method: :delete, :class => 'delete-button', data: { confirm: "Are you sure you want to delete the meeting?"}%>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>

<div data-turbolinks="true" class="field-section">
  <h2>Users</h2>
  <div class="table">
    <div class="thead">
      <span class="th"><%= user_sort_link "code", "Code" %></span>
      <span class="th"><%= user_sort_link "phone_number", "Phone number" %></span>
      <span class="th"><%= user_sort_link "credits", "Credits" %></span>
      <span class="th">Edit</span>
    </div>
    <% @users.each do |user| %>
        <form class="tr" method="post" action="blah.html">
          <span class="td"><%= user.code %></span>
          <span class="td">+<%= number_to_phone(user.phone_number) %></span>
          <span class="td"><input class="credit-input" type="number" id="credit-input" min="0" max="1000" value="<%= user.credits %>"></span>
          <span class="td"><%= link_to 'Edit', 'admin/update/'+user.id.to_s, method: :update, :class => 'edit-button', data: { confirm: "Are you sure you want to edit user's credits?" }%></span>
        </form>
    <% end %>
  </div>
</div>
