<!DOCTYPE html>
<html>
<head>
  <title>Artemis' Umbrella</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="mobile-web-app-capable" content="yes">
  <% if content_for? :for_head %>
    <%= yield :for_head %>
  <% end %>
</head>
<body>


<div class="main" <%= @impression_statuses.blank? ? '' : "id=main" %>>
  <div class="language-header">
    <% if @showChangeLink %>
        <a class="language-select" id="language-selector" href="#" onclick="switchLanguage()"><%= @changeLinkText %></a>
    <% end %>
  </div>

  <%= yield %>


</div>

<div class="footer">

  <%=link_to t('info_page'), t('service_link')  %>

</div>

</body>
</html>
